<section id="my-bookings" class="pb-5">
    <h1 class="my-4">Mis reservas</h1>
    <div *ngFor="let booking of bookings; let i = index" class="card mb-3">
        <div class="card-body">
            <div class="row justify-content-between align-items-center">
                <div class="col">
                    <div class="d-flex align-items-center mb-2">
                        <h3 class="mb-3 me-3">Reserva #{{booking.timestamp}}</h3>
                        <span class="badge mb-3" [ngClass]="getPriority(booking.priority).className">
                            {{getPriority(booking.priority).label}}
                        </span>
                    </div>
                    <div id="room-info" class="row">
                        <div class="col-12 col-xl-auto">
                            <p class="fw-semibold mb-3 mb-xl-0 me-2">{{ getRoomName( booking.roomId) }}</p>
                        </div>
                        <div class="col-12 col-xl-auto">
                            <div class="d-flex align-items-center">
                                <span class="mb-3 mb-xl-0 mx-2 material-symbols-rounded">calendar_month</span>
                                <p class="mb-3 mb-xl-0 mx-2">{{formatDate(booking.startDate)}}</p>
                                <span class="mb-3 mb-xl-0 mx-2 material-symbols-rounded">arrow_right_alt</span>
                                <p class="mb-3 mb-xl-0 mx-2">{{formatDate(booking.endDate)}}</p>
                            </div>
                        </div>
                        <div class="d-flex align-items-center">
                            <span class="material-symbols-rounded mx-2">stairs_2</span>
                            <span class="mx-2">Piso {{getRoomInfo(booking.roomId)?.location}}</span>
                        </div>
                    </div>
                </div>
                <div class="col-auto">
                    <button class="btn btn-dark btn-sm" (click)="openModalCancelBooking(booking)">Cancelar
                        reserva</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Alerta -->
    <div *ngIf="!hasBookings" class="alert alert-info text-center" role="alert"
        data-bs-theme="dark"> Aun no tienes reservas.</div>
</section>


<!-- Modal Delete -->
<app-modal id="deleteBookingModal" [title]="'Cancelar reserva'" #deleteBookingModal>
    <div modal-body>
        <div class="text-center">
            <p>¿Está seguro que desea cancelar la reserva?</p>
            <p class="mb-0 fw-semibold">#{{selectedBooking?.timestamp}} - {{ selectedBookingRoomName }}</p>
        </div>
    </div>
    <div modal-footer>
        <button type="button" class="btn btn-dark me-3" (click)="closeModal('deleteBookingModal')">Cancelar</button>
        <button type="button" class="btn btn-danger" (click)="cancelBooking(selectedBooking!.id)">Eliminar</button>
    </div>
</app-modal>