<section id="search-rooms">
    <div class="card my-5">
        <div class="card-body">
            <h1 class="mb-4">Buscar salas</h1>
            <form [formGroup]="roomFilters" (ngSubmit)="filterRooms()">
                <div class="row align-items-center mb-3">
                    <div class="col-lg col-md-4">
                        <div class="form-floating mb-3">
                            <input formControlName="date" id="date" type="date" class="form-control"
                                placeholder="Fecha">
                            <label for="date">Fecha de la reserva</label>
                        </div>
                    </div>
                    <div class="col-lg col-md-4">
                        <div class="form-floating mb-3">
                            <input formControlName="startTime" id="startTime" type="time" class="form-control"
                                placeholder="Hora de inicio" required>
                            <label for="startTime">Hora de inicio</label>
                        </div>
                    </div>
                    <div class="col-lg col-md-4">
                        <div class="form-floating mb-3">
                            <input formControlName="endTime" id="endTime" type="time" class="form-control"
                                placeholder="Hora de fin" required>
                            <label for="endTime">Hora de fin</label>
                        </div>
                    </div>
                    <div class="col-lg col-md-4">
                        <div class="form-floating mb-3">
                            <input formControlName="capacity" id="capacity" type="number" class="form-control"
                                placeholder="Capacidad" required>
                            <label for="capacity">Capacidad</label>
                        </div>
                    </div>
                    <div class="col-md-auto mb-3">
                        <button type="button" class="btn btn-dark me-2" (click)="restoreInitialFilters()">Limpiar</button>
                        <button type="submit" role="button" class="btn btn-primary">Buscar</button>
                    </div>
                </div>
            </form>


            <table class="table table-stripped table-hover ">
                <thead>
                    <tr>
                        <th scope="col"></th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Ubicación</th>
                        <th scope="col">Capacidad</th>
                        <th scope="col">Horarios</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let room of rooms; let i = index">
                        <td>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" [attr.id]="'check-item-' + room.id"
                                    [(ngModel)]="room['selected']" (change)="updatePreBooking(room)"
                                    [disabled]="room['selectedEndTime'] === '' || room['selectedEndTime'] <= room['selectedStartTime']  ">
                                <label class="form-check-label" [attr.for]="'check-item-' + room.id"></label>
                            </div>
                        </td>
                        <td class="fw-semibold">{{ room.name }}</td>
                        <td>
                            <div class="d-flex align-items-center">
                                <span class="material-symbols-rounded me-2">stairs_2</span>
                                <span>Piso {{room.location}}</span>
                            </div>
                        </td>
                        <td>
                            <div class="d-flex align-items-center">
                                <span class="material-symbols-rounded me-2">group</span>
                                <span>{{room.capacity}}</span>
                            </div>
                        </td>
                        <td>
                            <div class="d-flex">
                                <div class="dropdown me-4">
                                    <button class="dropdown-toggle btn btn-sm px-3 py-2" type="button"
                                        data-bs-toggle="dropdown" aria-expanded="false" data-bs-offset="0, 15"
                                        [disabled]="">
                                        <span class="pe-3">{{ room['selectedStartTime'] || '09:00' }}hs</span>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li *ngFor="let schedule of room['filteredStartSchedules']; let j=index"
                                            class="dropdown-item" (click)="selectTime(room, 'start', schedule)">
                                            {{schedule}}hs
                                        </li>
                                    </ul>
                                </div>
                                <div class="dropdown">
                                    <button class="dropdown-toggle btn btn-sm px-3 py-2" type="button"
                                        data-bs-toggle="dropdown" aria-expanded="false" data-bs-offset="0, 15"
                                        [disabled]="">
                                        <span class="pe-3"> {{ room['selectedEndTime'] || '09:00' }}hs</span>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li *ngFor="let schedule of room['filteredEndSchedules']; let j=index"
                                            class="dropdown-item" (click)="selectTime(room, 'end', schedule)">
                                            {{schedule}}hs
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="card floating-card" [ngClass]="{'show' : roomsSelected}">
        <div class="card-body p-3">
            <button class="btn btn-dark me-3" (click)="clearSelections()">Limpiar selección</button>
            <button class="btn btn-primary" (click)="openModalBooking()">Reservar</button>
        </div>
    </div>

    <!-- Modal Reserva -->
    <app-modal id="modalBooking" [title]="'Crear reserva'" #modalBooking>
        <div modal-body>
            <div class="card mb-4 bg-dark">
                <div class="card-body p-3">
                    <h6>Salas a reservar</h6>
                    <small>
                        <span class="fw-semibold">Fecha: </span><span>{{ roomFilters.get('date')!.value }}</span>
                        <p class="mb-0" *ngFor="let room of selectedRooms">
                            <span class="me-2">
                                <span class="fw-semibold">{{room.name}}:</span> {{ room['selectedStartTime'] }}hs - {{ room['selectedEndTime']}}hs, ({{room.capacity}} personas,  Piso {{room.location}})
                            </span>
                        </p>
                    </small>
                 </div>
            </div>
            <form [formGroup]="booking">
                <div class="form-floating mb-2">
                    <select formControlName="priority" class="form-select" id="priority" aria-label="priority">
                        <option value="1">Baja</option>
                        <option value="2">Media</option>
                        <option value="3">Alta</option>
                    </select>
                    <label for="priority">Prioridad de reunión</label>
                </div>
            </form>
            <p *ngIf="invalidBooking" class="text-danger text-center">
                <small>{{invalidBooking}}</small>
            </p>
            <small class="text-muted">Las reservas de mayor prioridad pueden cancelar reservas hechas previamente para la misma fecha y rango horario.</small>
        </div>
        <div modal-footer>
            <button type="button" class="btn btn-dark me-3" (click)="closeModalBooking()">Volver</button>
            <button type="button" class="btn btn-primary" (click)="addBookings()">Reservar</button>
        </div>
    </app-modal>
</section>