<section id="search-rooms">
    <div class="card mt-5">
        <div class="card-body">

            <h1 class="mb-5">Buscar disponibilidad</h1>


            <div class="row align-items-center mb-3">
                <div class="col">
                    <div class="form-floating">
                        <input formControlName="date" id="date" type="date" class="form-control"
                            placeholder="Fecha">
                        <label for="date">Fecha de la reserva</label>
                    </div>
                </div>
                <div class="col">
                    <div class="form-floating">
                        <input formControlName="horaInicio" id="horaInicio" type="text" class="form-control"
                            placeholder="horaInicio" required>
                        <label for="horaInicio">Hora de inicio</label>
                    </div>
                </div>
                <div class="col">
                    <div class="form-floating">
                        <input formControlName="horaFin" id="horaFin" type="text" class="form-control"
                            placeholder="horaFin" required>
                        <label for="horaFin">Hora de fin</label>
                    </div>
                </div>
                <div class="col">
                    <div class="form-floating">
                        <input formControlName="capacity" id="capacity" type="text" class="form-control"
                            placeholder="capacity" required>
                        <label for="capacity">Capacidad</label>
                    </div>
                </div>
                <div class="col-auto">
                    <button class="btn btn-primary">Buscar</button>
                </div>
            </div>


            <table class="table table-stripped table-hover">
                <thead>
                    <tr>
                        <th scope="col"></th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Ubicación</th>
                        <th scope="col">Capacidad</th>
                        <th scope="col">Disponibilidad</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                            </div>
                        </td>
                        <td class="fw-semibold">Sala 1</td>
                        <td>
                            <div class="d-flex align-items-center">
                                <span class="material-symbols-rounded me-2">stairs_2</span>
                                <span>Piso 1</span>
                            </div>
                        </td>
                        <td>
                            <div class="d-flex align-items-center">
                                <span class="material-symbols-rounded me-2">group</span>
                                <span>38</span>
                            </div>
                        </td>
                        <td>
                            <div class="dropdown">
                                <button class="btn btn-sm dropdown-toggle py-1 px-3" type="button"
                                    data-bs-toggle="dropdown" aria-expanded="false" data-bs-offset="0, 15"
                                    data-bs-auto-close="outside">
                                    <span>14:00hs - 15:00hs</span>
                                </button>
                                <ul class="dropdown-menu">
                                    <div class="dropdown-header">
                                        <span>Selecciona los horarios a reservar</span>
                                    </div>
                                    <li class="dropdown-item">
                                        <div class="form-check">
                                            <input class="form-check-input me-3" type="checkbox" value=""
                                                id="flexCheckDefault">
                                            <label for="">14:00hs - 15:00hs</label>
                                        </div>
                                    </li>
                                    <li class="dropdown-item">
                                        <div class="form-check">
                                            <input class="form-check-input me-3" type="checkbox" value=""
                                                id="flexCheckDefault">
                                            <label for="">14:00hs - 15:00hs</label>
                                        </div>
                                    </li>
                                    <li class="dropdown-item">
                                        <div class="form-check">
                                            <input class="form-check-input me-3" type="checkbox" value=""
                                                id="flexCheckDefault">
                                            <label for="">14:00hs - 15:00hs</label>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                            </div>
                        </td>
                        <td class="fw-semibold">Sala 1</td>
                        <td>
                            <div class="d-flex align-items-center">
                                <span class="material-symbols-rounded me-2">stairs_2</span>
                                <span>Piso 1</span>
                            </div>
                        </td>
                        <td>
                            <div class="d-flex align-items-center">
                                <span class="material-symbols-rounded me-2">group</span>
                                <span>38</span>
                            </div>
                        </td>
                        <td>
                            <div class="dropdown">
                                <button class="btn btn-sm dropdown-toggle py-1 px-3" type="button"
                                    data-bs-toggle="dropdown" aria-expanded="false" data-bs-offset="0, 15"
                                    data-bs-auto-close="outside">
                                    <span>14:00hs - 15:00hs</span>
                                </button>
                                <ul class="dropdown-menu">
                                    <div class="dropdown-header">
                                        <span>Selecciona los horarios a reservar</span>
                                    </div>
                                    <li class="dropdown-item">
                                        <div class="form-check">
                                            <input class="form-check-input me-3" type="checkbox" value=""
                                                id="flexCheckDefault">
                                            <label for="">14:00hs - 15:00hs</label>
                                        </div>
                                    </li>
                                    <li class="dropdown-item">
                                        <div class="form-check">
                                            <input class="form-check-input me-3" type="checkbox" value=""
                                                id="flexCheckDefault">
                                            <label for="">14:00hs - 15:00hs</label>
                                        </div>
                                    </li>
                                    <li class="dropdown-item">
                                        <div class="form-check">
                                            <input class="form-check-input me-3" type="checkbox" value=""
                                                id="flexCheckDefault">
                                            <label for="">14:00hs - 15:00hs</label>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>


        </div>
    </div>
</section>