<section id="auth" class="overflow-y-hidden">
    <div class="brand-text"></div>

    <!-- Card login -->
    <div id="login" class="card shadow-lg show" [ngClass]="{'show': !isRegistering}">
        <div class="card-body">
            <h1 class="mb-5">Ingresar</h1>

            <form [formGroup]="loginForm">
                <div class="form-floating mb-4">
                    <input formControlName="username" id="loginUsername"  type="text" class="form-control mb-2"  placeholder="Usuario">
                    <label for="loginUsername">Usuario</label>
                    <div  *ngIf="loginForm.get('password')?.errors">
                        <small *ngIf="loginForm.get('username')?.errors?.['required']" class="text-danger d-block mb-4"> {{ usernameError }}</small>
                    </div>
                </div>
                <div class="form-floating mb-4">
                    <input formControlName="password" id="loginPassword"  type="password" class="form-control mb-2" placeholder="Password">
                    <label for="loginPassword">Contraseña</label>
                    <div *ngIf="loginForm.get('password')?.errors">
                        <small #errorMessage *ngIf="loginForm.get('password')?.errors?.['required']" class="text-danger d-block mb-4">{{ passwordError }}</small>
                    </div>
                </div>
                <small *ngIf="credentialsErrorMessage" class="text-danger d-block mb-4">{{ credentialsErrorMessage }}</small>
                <button 
                    type="button" 
                    class="btn btn-lg w-100 btn-primary" 
                    (click)="onSubmit('login')">                
                    Ingresar
                </button>
            </form>

            <span class="text-secondary">
                <span class="me-2">¿No tienes cuenta?</span>
                <a (click)="toggleForm()" class="d-inline-flex align-items-center mt-4 me-2">Regístrate</a>
            </span>
        </div>
    </div>

    <!-- Card registro -->
    <div id="register" class="card shadow-lg" [ngClass]="{'show': isRegistering}">
        <div class="card-body">
            <h1 class="mb-5">Regístrate</h1>
            
            <form [formGroup]="registerForm">
                <div class="form-floating mb-4">
                    <input formControlName="username" id="registerUsername" type="text" class="form-control mb-2" placeholder="Usuario">
                    <label for="registerUsername">Usuario</label>
                    <div *ngIf="registerForm.get('username')?.errors">
                        <small *ngIf="registerForm.get('username')?.errors?.['required']" class="text-danger d-block mb-4"> {{ usernameError }}</small>
                        <small *ngIf="registerForm.get('username')?.errors?.['minLength']" class="text-danger d-block mb-4"> {{ usernameError }}</small>
                    </div>
                </div>
                <div class="form-floating mb-4">
                    <input formControlName="email" id="registerEmail" type="email" class="form-control mb-2" placeholder="Correo electrónico">
                    <label for="registerEmail">Correo electrónico</label>
                    <div *ngIf="registerForm.get('email')?.errors">
                        <small *ngIf="registerForm.get('email')?.errors?.['required']" class="text-danger d-block mb-4"> {{ emailError }}</small>
                        <small *ngIf="registerForm.get('email')?.errors?.['email']" class="text-danger d-block mb-4"> {{ emailError }}</small>
                    </div>
                </div>
                <div class="form-floating mb-4">
                    <input formControlName="password" id="registerPassword" type="password" class="form-control mb-2" placeholder="Password">
                    <label for="registerPassword">Contraseña</label>
                    <div *ngIf="registerForm.get('password')?.errors">
                        <small *ngIf="registerForm.get('password')?.errors?.['required']" class="text-danger d-block mb-4"> {{ passwordError }}</small>
                        <small *ngIf="registerForm.get('password')?.errors?.['minLength']" class="text-danger d-block mb-4"> {{ passwordError }}</small>
                    </div>
                </div>
                <button 
                    type="button" 
                    class="btn btn-lg w-100 btn-primary mb-4" 
                    (click)="onSubmit('register')">
                    Registrarme
                </button>
            </form>
            
            <span class="text-secondary">
                <span class="me-2">¿Ya tienes cuenta?</span>
                <a (click)="toggleForm()" class="d-inline-flex align-items-center me-2">Inicia sesion</a>
            </span>
        </div>
    </div>

</section>