<section id="auth" class="overflow-y-hidden">
    <div class="brand-text"></div>

    <div id="login" class="card shadow-lg show" [ngClass]="{'show': !isRegistering}">
        <div class="card-body">
            <h1 class="mb-5">Ingresar</h1>

            <form [formGroup]="loginForm" (ngSubmit)="onSubmit('login')">
                <div class="form-floating mb-4">
                    <input 
                        formControlName="username" 
                        id="loginUsername"  
                        type="text" 
                        [ngClass]="{'is-invalid' : hasError(loginForm,'username')}"
                        class="form-control mb-2"  
                        placeholder="Usuario"
                        required>
                    <label for="loginUsername">Usuario</label>
                    <div *ngIf="hasError(loginForm,'username')">
                        <small *ngIf="hasError(loginForm,'username','required')" class="text-danger">El usuario es requerido.</small>
                    </div>
                </div>
                <div class="form-floating mb-4">
                    <input 
                    formControlName="password" 
                    id="loginPassword"
                    type="password" 
                    [ngClass]="{'is-invalid' : hasError(loginForm,'password')}"
                    class="form-control mb-2" 
                    placeholder="Password"
                    required>
                    <label for="loginPassword">Contraseña</label>
                    <div *ngIf="hasError(loginForm,'password')">
                        <small *ngIf="hasError(loginForm,'password','required')" class="text-danger">La contraseña es requerida.</small>
                    </div>
                </div>
                <div *ngIf="invalidCredentials" class="mb-4">
                    <small class="text-danger">{{ invalidCredentials }}</small>
                </div>
                <button 
                    type="submit" 
                    class="btn btn-lg w-100 btn-primary">                
                    Ingresar
                </button>
            </form>

            <span class="text-secondary">
                <span class="me-2">¿No tienes cuenta?</span>
                <a (click)="toggleForm()" class="d-inline-flex align-items-center mt-4 me-2">Regístrate</a>
            </span>
        </div>
    </div>


    <div id="register" class="card shadow-lg" [ngClass]="{'show': isRegistering}">
        <div class="card-body">
            <h1 class="mb-5">Regístrate</h1>
            
            <form [formGroup]="registerForm" (ngSubmit)="onSubmit('register')">
                <div class="form-floating mb-4">
                    <input 
                        formControlName="username" 
                        id="registerUsername" 
                        type="text" 
                        [ngClass]="{'is-invalid' : hasError(registerForm,'username')}"
                        class="form-control mb-2" 
                        placeholder="Usuario"
                        required>
                    <label for="registerUsername">Usuario</label>
                    <div *ngIf="hasError(registerForm,'username')">
                        <small *ngIf="hasError(registerForm,'username','required')" class="text-danger">El usuario es requerido.</small>
                        <small *ngIf="hasError(registerForm,'username','minlength')" class="text-danger">El usuario debe tener como mínimo 8 caracteres.</small>
                    </div>
                </div>
                <div class="form-floating mb-4">
                    <input 
                        formControlName="password" 
                        id="registerPassword" 
                        type="password" 
                        [ngClass]="{'is-invalid' : hasError(registerForm,'password')}"
                        class="form-control mb-2" 
                        placeholder="Password"
                        required>
                    <label for="registerPassword">Contraseña</label>
                    <div *ngIf="hasError(registerForm,'password')">
                        <small *ngIf="hasError(registerForm,'password','required')" class="text-danger">El usuario es requerido.</small>
                        <small *ngIf="hasError(registerForm,'password','minlength')" class="text-danger">La contraseña debe tener como mínimo 8 caracteres.</small>
                    </div>
                </div>
                <div class="form-floating mb-4">
                    <input 
                        formControlName="email" 
                        id="registerEmail" 
                        type="email" 
                        [ngClass]="{'is-invalid' : hasError(registerForm,'email')}"
                        class="form-control mb-2" 
                        placeholder="Correo electrónico"
                        required>
                    <label for="registerEmail">Correo electrónico</label>
                    <div *ngIf="hasError(registerForm,'email')">
                        <small *ngIf="hasError(registerForm,'email', 'required')" class="text-danger">El usuario es requerido.</small>
                        <small *ngIf="hasError(registerForm,'email', 'email')" class="text-danger">Formato de correo inválido.</small>
                    </div>
                </div>
                <div class="form-floating mb-4">
                    <select 
                    formControlName="location" id="registerLocation" type="text" class="form-select mb-2" placeholder="Ubicación" required>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                    </select>
                    <label for="registerLocation">Piso</label>
                </div>
                <button 
                    type="submit" 
                    class="btn btn-lg w-100 btn-primary mb-4">
                    Registrarme
                </button>
            </form>
            
            <span class="text-secondary">
                <span class="me-2">¿Ya tienes cuenta?</span>
                <a (click)="toggleForm()" class="d-inline-flex align-items-center me-2">Inicia sesion</a>
            </span>
        </div>
    </div>

</section>