<section id="users">
    <div class="card mt-5">
        <div class="card-body">
            <h1 class="mb-4">Usuarios</h1>
            <table class="table table-stripped table-hover ">
                <thead>
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Email</th>
                        <th scope="col">Ubicación</th>
                        <th scope="col">Rol</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let user of usersMock; let i = index">
                        <td>
                            #{{ user.id }}
                        </td>
                        <td>
                            <span class="fw-semibold">{{ user.username }}</span>
                        </td>
                        <td>
                            {{ user.email }}
                        </td>
                        <td>
                            Piso {{ user.location }}
                        </td>
                        <td>
                            <div class="badge bg-dark fw-light">
                                {{ user.role }}
                            </div>
                        </td>
                        <td>
                            <div class="d-flex justify-content-end">
                                <button class="btn btn-icon" type="button" (click)="openModalEditUser(user)">
                                    <span class="material-symbols-rounded">edit</span>
                                </button>
                                <button class="btn btn-icon" type="button" (click)="openModalDeleteUser(user)">
                                    <span class="material-symbols-rounded text-danger">delete</span>
                                </button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>


<!-- Modal Edit -->
<app-modal id="editModal" [title]="'Editar usuario'" #editModal>
    <div modal-body>
        <form [formGroup]="editUserForm">
            <div class="row">
                <div class="col-12">
                    <div class="form-floating mb-3">
                        <input 
                            formControlName="username" 
                            id="username" 
                            type="text"
                            [ngClass]="{'is-invalid' : hasError('username')}"
                            class="form-control mb-2"
                            placeholder="Username"
                            required>
                        <label for="username">Username</label>
                        <div *ngIf="hasError('username')">
                            <small *ngIf="hasError('username','required')" class="text-danger">El usuario es requerido.</small>
                            <small *ngIf="hasError('username','minlength')" class="text-danger">El usuario debe tener como mínimo 8 caracteres.</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="form-floating mb-3">
                    <input 
                        formControlName="email"
                        id="email" 
                        type="email"
                        [ngClass]="{'is-invalid' : hasError('email')}"
                        class="form-control mb-2"
                        placeholder="Email"
                        required>
                    <label for="email">Email</label>
                    <div *ngIf="hasError('email')">
                        <small *ngIf="hasError('email', 'required')" class="text-danger">El email es requerido.</small>
                        <small *ngIf="hasError('email', 'email')" class="text-danger">Formato de correo inválido.</small>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="form-floating mb-4">
                    <select formControlName="location" id="location" class="form-select mb-1" placeholder="Ubicación" required>
                        <option value="1">Piso 1</option>
                        <option value="2">Piso 2</option>
                        <option value="3">Piso 3</option>
                        <option value="4">Piso 4</option>
                    </select>
                    <label for="location">Ubicación</label>
                </div>
            </div>
            <div class="col-12">
                <div class="form-floating">
                    <div class="form-floating">
                        <select formControlName="role" id="role" class="form-select mb-1" placeholder="Rol" required>
                            <option value="user">Usuario</option>
                            <option value="admin">Administrador</option>
                        </select>
                        <label for="role">Rol</label>
                    </div>
                </div>
            </div>
            <!-- <div *ngIf="invalidRegister" class="mb-4 text-center">
            <small class="text-danger">{{ invalidRegister }}</small>
        </div>> -->
        </form>
    </div>
    <div modal-footer>
        <button type="button" class="btn btn-dark me-3" (click)="closeModal('editModal')">Cancelar</button>
        <button type="button" class="btn btn-primary" (click)="editUser()">Guardar</button>
    </div>
</app-modal>

<!-- Modal Delete -->
<app-modal id="deleteModal" [title]="'Eliminar usuario'" #deleteModal>
    <div modal-body>
        <div class="text-center">
            <p>¿Está seguro que desea eliminar el usuario?</p>
            <p class="mb-0 fw-semibold">{{ selectedUser }}</p>
        </div>
    </div>
    <div modal-footer>
        <button type="button" class="btn btn-dark me-3" (click)="closeModal('deleteModal')">Cancelar</button>
        <button type="button" class="btn btn-danger" (click)="deleteUser()">Eliminar</button>
    </div>
</app-modal>